
databases=["vector","foo"]
dna_extensions=[ 'nhr', 'nin', 'nnd', 'nni', 'nsd', 'nsi', 'nsq',]

rule all:
	input: expand("{database}.done", database=databases)
	output: touch("all.done")

rule one: 
	input: expand("{database}.{suffix}",database=["{database}"],suffix=dna_extensions)
	output: touch("{database}.done")

rule untar:
	input: "{database}.tar.gz"
	output: expand("{database}.{suffix}",database=["{database}"],suffix=dna_extensions)
	shell: "tar xvfz {input}"

rule clean:
	shell: "rm -rf *.done vector.n* foo.n*"
